* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* 
.input-group{
  width: 50% 
} */

.control-label{
  text-align: left
}

.card-img-top {
  width: 10%;
  height: 15vw;
  object-fit: cover;
  
} 

.signup-order {
  width: 350px;
  height: 400px;
  font-size: x-small
}

.login-order {
  width: 350px;
  height: 400px;
  font-size: x-small
}
/* 
.order-form {
  width: 65%;
  float:left; 
  display:inline; 
  width: 49%;

} */

.van-order-card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}



/* 
.carousel {
  /* any dimensions are fine, it can be responsive with max-width */
  /* width: 90vw ;   
  max-width: 90vw;
} */ 


.carousel-inner {
 
  height: 300%;
  width: 100%
} 

/* .item {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
} */ 

/* .col-md-4{
  height: 50%;
  width: 50%
} */

.bootstrap-iso {
  width: 450px;
  height: 350px;
  padding: 30px;
  border-radius: 15px 
  /* margin: left */

}

.card-columns{
  width: 1000px;
  height: 1000px
}



.jumbo-1 {
  height: 600px;
  background-image: url("https://media.afar.com/uploads/images/post_images/images/ZQ8MbglX3Q/original_shutterstock_1017257911.jpg");
  background-size: cover
}

.reservation {
height: 600px;
width: 600px; 
padding: 90px;


}

.jumbo-2{
  height: 1000px;
}

.saved-card-deck{
  margin-top: 10px;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: .5rem;
}

.cancel-btn{
  margin: 0%, 15%
}
